[2021-01-31 12:33] Harshal0902 opened #1 "Improve CONTRIBUTION.md file"
Help to improve the CONTRIBUTION.md file, like adding Contributing Guideline etc..

[2021-01-31 12:34] Harshal0902 opened #2 "Improve README.md file"
Help to improve the README.md file by adding the list of contributors or wherever required.

[2021-01-31 12:42] Harshal0902 opened #3 "Connect Crime reporting page to backend."
Connect crime reporting page in the public section to the backend.

[2021-01-31 12:43] Harshal0902 opened #4 "Add chatbot to every page"
Add chatbot assistant to every page for specific section.

[2021-01-31 12:45] Harshal0902 opened #5 "Add face detection via image upload in Identify Theft page"

[2021-01-31 12:46] Harshal0902 opened #6 "Make an AI Chatbot"

[2021-01-31 13:31] Harshal0902 opened #7 "Make a Progressive Web Application for the same"

[2021-02-11 13:08] Harshal0902 opened #9 "Design and add favicon to the webpage"
Design a Favicon for the site and add it to all webpages

[2021-02-11 13:12] Harshal0902 opened #10 "Add a responsive footer to the website"
Design and add a responsive footer to the website

[2021-02-12 10:34] soumya-badkul commented on #10
Hey, @Harshal0902 I would like to work on this issue.

[2021-02-12 12:32] Harshal0902 commented on #10
Hi @soumya-badkul, the CrossWoC will start from 13th Feb, and all the PR's after the event starts will be count as s valid contribution (for prizes). So, you can work upon this issue once the Event will start.

[2021-02-12 15:41] Sloth-Panda commented on #7
Hey, can I work on this as part of CWOC?

[2021-02-12 15:41] Sloth-Panda commented on #2
would like to work on this as part of cwoc

[2021-02-12 15:42] Sloth-Panda opened #11 "Creation of code of conduct file"
would like to make this as part of CWOC

[2021-02-12 15:50] Harshal0902 commented on #7
Hi @Sloth-Panda, the CrossWoC will start from 13th Feb, and all the PR's after the event starts will be count as s valid contribution (for prizes). So, you can work upon this issue once the Event will start.

[2021-02-12 16:10] Harshal0902 commented on #2
Hi @Sloth-Panda , the CrossWoC will start from 13th Feb, and all the PR's after the event starts will be count as s valid contribution (for prizes). So, you can work upon this issue once the Event will start.

[2021-02-13 03:16] soumya-badkul commented on #10
okay thanks

[2021-02-13 09:04] Amit366 commented on #7
@Harshal0902 sir can i work on this issue??

[2021-02-13 09:11] Harshal0902 commented on #7
Hi, @Amit366 the CrossWoC will start on13th Feb, after the introductory session and all the PR's after the event starts will be count as a valid contribution (for prizes). And this issue is already been take, so you are requested to work on other issues.

[2021-02-13 11:25] Abhinav0909 commented on #3
Hi @Harshal0902  Please assign this issue to me.

[2021-02-13 11:47] greenblade29 commented on #10
Hey! I want to work on this issue. Can you please assign it to me?

[2021-02-13 11:49] greenblade29 commented on #9
I can work on this issue. Can you please assign it to me?

[2021-02-13 12:14] jainh6148 commented on #10
Hi, I would like to contribute to this project. I am a front end web developer & a freelancer as well. Kindly assign me this project.

[2021-02-13 12:23] Thiyageshkanna commented on #10
hey!! I would like to work on this project

[2021-02-13 13:25] soumya-badkul commented on #10
@Harshal0902 I can start working on this? please assign it to me

[2021-02-13 13:55] Hritikkumar commented on #10
Hi Sir I would like to work on this issue. Please assign it to me

[2021-02-13 13:56] Harshal0902 commented on #10
@soumya-badkul you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/yPAb7SGG). Try to complete it within 3 days and follow the CONTRIBUTION.md for making PR.

[2021-02-13 13:57] Hritikkumar commented on #9
Hi Sir, I would like to contribute to this project. Kindly assign it to me

[2021-02-13 14:06] Harshal0902 commented on #9
@greenblade29 you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/qxgsn99W). Try to complete it within 3 days and follow the CONTRIBUTION.md for making PR.

[2021-02-13 14:07] Harshal0902 commented on #7
@Sloth-Panda  you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/qxgsn99W). Try to complete it within 5 days and follow the CONTRIBUTION.md for making PR.

[2021-02-13 14:07] Harshal0902 commented on #3
@Abhinav0909  you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/qxgsn99W). Try to complete it within 3 days and follow the CONTRIBUTION.md for making PR.

[2021-02-13 14:38] #11 closed

[2021-02-14 08:51] Ayush7614 opened #12 "Add Cross WOC Banner or Poster"
## Is your feature request related to a problem? Please describe.
Add Cross WOC Banner or Poster

## Describe the solution you'd like
Add Cross WOC to  Banner or Poster

[2021-02-14 10:52] Harshal0902 commented on #12
@Ayush7614 you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/RMAtpWZX) for any doubts. Try to complete it within 3 days and follow the CONTRIBUTION.md for making PR.
Add the poster in README.md file

[2021-02-14 10:59] #3 closed

[2021-02-14 10:59] #9 closed

[2021-02-14 13:06] #10 closed

[2021-02-14 17:42] 96RadhikaJadhav commented on #1
@Harshal0902  Can I work on it? I'm a crosswoc participant.

[2021-02-14 18:05] Harshal0902 commented on #1
@96RadhikaJadhav you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/RMAtpWZX) for any doubts. Try to complete it within 3 days.

[2021-02-15 06:54] 96RadhikaJadhav commented on #1
@Harshal0902 Could you please create issues under crosswoc to create PR and issue templates and assign those to me? I would like to work on it. And also there is a typo in contributing.md file at line 83 in word 'devlopment'. You can create another issue for this and assign that to me.
Or I can also create issues and work on it if you allow.

[2021-02-15 10:11] Harshal0902 commented on #1
@96RadhikaJadhav I am opening an issue for creating PR and issue templates and assigning them to you.

[2021-02-15 10:13] Harshal0902 opened #23 "Create a PR template"
Create a PR template where person can clearly state the changes he/she made, need any change in documentation etc..

[2021-02-15 10:16] Harshal0902 opened #24 "Create an issue templates"
Create an issue templates, which includes weather the issue is a bug or feature request, etc.

[2021-02-15 10:27] Harshal0902 commented on #23
@96RadhikaJadhav,  I have created an issue as requested. You can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/yPAb7SGG) for any doubts. Try to complete it within 3 days.

[2021-02-15 10:27] Harshal0902 commented on #24
@96RadhikaJadhav,  I have created an issue as requested. You can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/yPAb7SGG) for any doubts. Try to complete it within 3 days.

[2021-02-15 13:44] muthuannamalai12 opened #27 "Integrate Welcome Bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

Please assign it to me as a part of Cross Woc.

[2021-02-15 13:55] #12 closed

[2021-02-15 14:05] 96RadhikaJadhav commented on #24
@Harshal0902 Can you please assign this issue to me?

[2021-02-15 14:14] #1 closed

[2021-02-15 14:51] Harshal0902 commented on #27
@muthuannamalai12 you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/qxgsn99W) for any doubts. Try to complete it within 3 days.

[2021-02-15 14:52] #24 closed

[2021-02-15 16:50] 96RadhikaJadhav commented on #23
@Harshal0902 Can you please assign this issue to me?

[2021-02-15 16:53] 96RadhikaJadhav commented on #23
@Harshal0902 Can you please create another issue to add code of conduct and assign that to me?

[2021-02-15 16:58] Harshal0902 commented on #23
@96RadhikaJadhav,  sorry to inform you but Code of Conduct Issue is supposed to be done by another participant, as he is busy with another issue, he will do in after that.

[2021-02-15 17:02] 96RadhikaJadhav commented on #23
Okay :(

[2021-02-15 17:03] #23 closed

[2021-02-16 11:52] Harshal0902 opened #29 "Always get the issue assigned to you before working on it"

[2021-02-16 12:42] muthuannamalai12 opened #30 "Create Code of Conduct"
I would like to add a code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-02-16 12:42] muthuannamalai12 commented on #30
I would love to work on this issue as a part of Cross-woc. Kindly assign it to me.

[2021-02-16 12:44] muthuannamalai12 commented on #27
@Harshal0902 For the custom message shown by the welcome bot we need a code of conduct. So for that reason I have opened a issue for code of conduct file. Kindly assign me that #30 issue.

[2021-02-16 13:45] Harshal0902 commented on #27
Hi, @muthuannamalai12 the Code of Conduct Issue is supposed to be done by another participant, as he is busy with another issue, he will do in after that. Till then you can wait, or go for other issues.

[2021-02-16 14:14] muthuannamalai12 commented on #27
@Harshal0902 Ok I will wait untill they complete. Thank you for your reply

[2021-02-16 14:17] #30 closed

[2021-02-16 19:05] Sloth-Panda commented on #7
Hey got little busy in something will be making pr in atmost 2days

[2021-02-17 09:33] Harshal0902 opened #31 "Add a Preloader to the site"
Add a preloader to the site

[2021-02-17 14:10] Abhinav0909 commented on #31
Hi, @Harshal0902 I want to work on this issue.

[2021-02-17 14:34] Harshal0902 commented on #31
@Abhinav0909 you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/qxgsn99W). Try to complete it within 3 days and follow the CONTRIBUTION.md for making PR.

[2021-02-17 17:24] Abhinav0909 commented on #4
Hi, @Harshal0902  I want to work on this issue.

[2021-02-18 03:39] Amit366 commented on #7
@Harshal0902 can I work on this issue??

[2021-02-18 05:05] Harshal0902 commented on #4
@Abhinav0909 you can work on this issue.

[2021-02-18 05:20] Harshal0902 commented on #7
@Amit366 lets wait for 2 days, if the assigned person is not able to complete his task, then I will assign it to you.

[2021-02-19 07:56] abhinav5481 commented on #6
Hi Harshal,
I would like to work on this issue. Could you please assign it to me?

[2021-02-19 09:40] Harshal0902 commented on #6
@abhinav5481 you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/qxgsn99W). Try to complete it within 5 days and follow the CONTRIBUTION.md for making PR.

[2021-02-20 04:52] arbazalam01 commented on #2
Can i work on this issue

[2021-02-20 07:39] Harshal0902 commented on #2
@arbazalam01 you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/qxgsn99W). Try to complete it within 3 days and follow the CONTRIBUTION.md for making PR.

[2021-02-20 07:40] Harshal0902 commented on #7
@Sloth-Panda what's the progress?

[2021-02-21 06:00] Amit366 commented on #7
@Harshal0902 can I work ??

[2021-02-21 07:59] Harshal0902 commented on #7
@Amit366 you can work on this issue. You are requested to join the Discord server using this [link](https://discord.gg/RMAtpWZX). Try to complete it within 5 days and follow the CONTRIBUTION.md for making PR.

[2021-02-21 08:11] Amit366 commented on #7
Ok

[2021-02-23 07:53] #2 closed

[2021-02-23 13:40] Harshal0902 commented on #31
@Abhinav0909 what's the status?
Are you facing any problem?

[2021-02-23 13:40] Harshal0902 commented on #4
@Abhinav0909 what's the status?
Are you facing any problem?

[2021-02-23 13:41] Harshal0902 commented on #6
@abhinav5481 what's the status?
Are you facing any problem?

[2021-02-26 04:45] rockingrohit9639 opened #36 "Discord link expired"
Hey @Harshal0902 bro, I want to talk you something about your project but the link for a discord server is expired. Can you change it and let me know.

Thank you.

[2021-02-26 05:06] Harshal0902 commented on #36
Done, I have changes the link, you can directly join the server using this [link](https://discord.gg/Q4fb3yAW6P)

[2021-02-26 13:03] abhinav5481 commented on #6
I am about to complete it. Please give me some more time. I would create PR as soon as possible.

[2021-02-26 13:08] Harshal0902 commented on #6
ok, try to complete it ASAP

[2021-02-28 07:33] #36 closed

[2021-02-28 12:29] Harshal0902 opened #37 "Create a Code of Conduct"
Create a Code of Conduct file

[2021-02-28 12:31] Harshal0902 commented on #37
@Sloth-Panda I have made this issue, as requested earlier.

[2021-03-05 13:56] kmryashasvi opened #38 "associate link of the crosswoc website to its banner"
I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 14:47] Harshal0902 commented on #38
@kmryashasvi you can work on this issue. you are requested to join the discord server for any query using this [link](https://discord.gg/NCTnAbTg).

[2021-03-05 14:49] Harshal0902 commented on #27
@muthuannamalai12 I have created a issue for creation of Code of Conduct. Request there so that I can Assign that issue to you.

[2021-03-05 14:52] yashlikescode commented on #38
now this issue can be closed after merging the above pull request?

[2021-03-05 14:54] #38 closed

[2021-03-05 15:08] muthuannamalai12 commented on #37
I would love to work on it. Kindly assign it to me as a part of Cross-Woc

[2021-03-05 15:10] Harshal0902 commented on #37
@muthuannamalai12 you can work on this issue.

[2021-03-05 16:27] #37 closed

[2021-03-06 04:40] #27 closed

[2021-03-06 05:49] kmryashasvi opened #42 "I will add name and photo of maintainer in the end of readme file of your repo"
like the one mentioned below
![image](https://user-images.githubusercontent.com/66861659/110196907-c5343480-7e6d-11eb-931b-6591208ca410.png)

[2021-03-06 08:57] Harshal0902 commented on #42
@kmryashasvi got for it. Also add a section for *Our valuable Contributors* and add this their photo using this link: https://contributors-img.web.app/image?repo=Harshal0902/Rudra

[2021-03-06 09:57] yashlikescode commented on #42
I can add contributors name like this, but you have to label the issue as "medium", because i have to take every ones' profile link and profile pictures.
![image](https://user-images.githubusercontent.com/66861659/110202707-7cda3e00-7e90-11eb-9fab-41682d3d61cf.png)

[2021-03-06 09:59] yashlikescode commented on #42
Otherwise, I will add the image provided by you as you told me,
your choice
tell me what you think

[2021-03-06 10:10] Harshal0902 commented on #42
It will be better if you go like this way:
https://contributors-img.web.app/image?repo=Harshal0902/Rudra

Because the README will become very long.

[2021-03-06 12:30] #42 closed

[2021-03-06 12:41] Harshal0902 opened #44 "Dynamic Favicon"
Design and make a dynamic favicon for Dark mode and light modes. You can refer these:
- [GeeksforGeeks](https://www.geeksforgeeks.org/how-to-change-favicon-dynamically/)
- [Medium Blog](https://medium.com/@alperen.talaslioglu/building-dynamic-favicon-with-javascript-223ad7999661)

[2021-03-06 12:46] Harshal0902 opened #45 "Write a Guide for Deploying the App to Docker"
* Please name it `Docker.MD`
 * Make and place it inside the `Guides/` directory of the master branch
 * Add Snapshots of the process as and where required
 * Add `Useful Tips` section for certain optimizations, bug fixing advice, and site corresponding references

[2021-03-07 04:51] Harshal0902 opened #46 "404 Page Not Found"
Build and implement a 404 Page Not Found.

[2021-03-09 05:57] Harshal0902 opened #47 "Mobile View Nav Bar Animation"
[Reference](https://www.hellomonday.com/)

 * **We are looking for just the inverse color splash as shown in the reference above**
 * The Nav Bar orientation should not be changed (our effect should take place from top to bottom rather than right to left as seen in the above reference)
 * The Hamburger Animation should not be changed
 * The Nav Bar Text should not be changed

[2021-03-09 06:38] QAZIMAAZARSHAD opened #48 "Add Rudra logo in title bar"
<img align="center" alt="Coding" width="100%" height="300" src="https://i.postimg.cc/9Fhnssyk/title-icon.png](https://postimg.cc/F1TpLWWb">

[2021-03-09 06:39] QAZIMAAZARSHAD commented on #48
Hi,
@Harshal0902  can you please assign me this issue.

[2021-03-09 12:30] Harshal0902 commented on #48
@QAZIMAAZARSHAD the site already has a favicon. So, you can go with another issues.

[2021-03-09 12:30] #48 closed

[2021-03-15 14:19] arbazalam01 commented on #47
can i work on this issue

[2021-03-15 14:56] Harshal0902 commented on #47
@arbazalam01 go for it. And kindly join the discord server for any query.

[2021-04-22 16:39] Harshal0902 opened #49 "Design an AboutUs"
Design an about us page

[2021-06-01 05:40] patelaryan7751 commented on #46
hello @Harshal0902 may i work on this issue?

[2021-06-01 06:04] Harshal0902 commented on #46
@patelaryan7751 go ahead

[2021-06-01 15:18] aum-singhal commented on #49
Hello sir. I can try on this page.
Can you please provide the details you want to show in the about us page.
And if possible, then can you also assign this to me. My contribution will be from Let'sGrowMore Open Source.

Thanks

[2021-06-01 15:50] Harshal0902 commented on #49
@aum-singhal the Season of Codes will start from 10 June, so it's better that I assign this issue to you when the event starts.

[2021-06-01 15:58] aum-singhal commented on #49
okay sure. till the time can you tell me what all you need to show on the about us page ? so that i can work on the template 😅

[2021-06-01 16:04] Harshal0902 commented on #49
You can design it in whatever way you want, but you have to *design* it for responsive mode as well, you don't need to build it

[2021-06-02 13:48] Rajdeep-99 commented on #44
Sir can I work on this project?

[2021-06-02 14:00] Harshal0902 commented on #44
@Rajdeep-99 if you are a participant of LGM Summer of Codes, it would be better if you start working on this issue when the event starts.

[2021-06-02 14:58] milan-mohapatra commented on #47
can i try it sir

[2021-06-02 15:00] milan-mohapatra commented on #49
can i try it
...is it count on soc?

[2021-06-02 16:00] Harshal0902 commented on #49
@TheGrayGodfather it will not count as SOC haven't started yet

[2021-06-02 16:01] Harshal0902 commented on #47
@TheGrayGodfather the Season of Codes will start from 10 June, so it's better that I assign this issue to you when the event starts.

[2021-06-02 16:02] Harshal0902 commented on #46
@patelaryan7751 the Season of Codes will start from 10 June and if you are a participant of SOC, I will suggest not to work on this until the events start.

[2021-06-03 03:44] Ayush12062000 commented on #5
Hey, I'm Ayush, a participant in LGM-SOC. I want to work on this issue. Please assign me this issue.

@Harshal0902

[2021-06-03 05:22] Harshal0902 commented on #5
@Ayush12062000 the Season of Codes will start on 10 June, so it's better that I assign this issue to you when the event starts.

[2021-06-03 05:23] Ayush12062000 commented on #5
@Harshal0902  Sure sir will wait till then.

[2021-06-05 15:27] Swarnava77 commented on #49
Hello, can I contribute in this?

[2021-06-05 17:04] Harshal0902 commented on #49
@Swarnava77 the Season of Codes will start from 10 June, so it's better that I assign this issue to you when the event starts.

[2021-06-06 13:37] mohit200008 commented on #45
CAN I WORK ON THIS ?

[2021-06-06 14:06] Harshal0902 commented on #45
@mohit200008 go ahead. You can work on this issue.

[2021-06-06 14:07] Harshal0902 commented on #49
@aum-singhal I am assigning this issue to you. @greenblade29 and @Swarnava77 you can try other issues.

[2021-06-06 14:08] Harshal0902 commented on #47
@TheGrayGodfather I am assigning this issue to you.

[2021-06-06 14:09] Harshal0902 commented on #44
@Rajdeep-99 I am assigning this issue to you

[2021-06-06 14:10] Harshal0902 commented on #5
@Ayush12062000 I am assigning this issue to you

[2021-06-06 14:47] aum-singhal commented on #49
Thanks a lot sir. I will get to my work right now.
Thanks again for the opportunity 😊

[2021-06-06 15:28] Harshal0902 opened #51 "SVG Animation for Toggle Button"
Replace the Dark-Mode button with a dark mode toggle.

[Reference](https://codepen.io/bnthor/pen/WQBNxO)

[2021-06-07 03:05] Rajdeep-99 commented on #44
Thank you

[2021-06-07 12:20] arushijain-20 commented on #31
Hey @Harshal0902, I want to work on this issue.

[2021-06-08 12:01] SamikshaSankar opened #52 "Update style of cards"
## Is your feature request related to a problem? Please describe.
The content on cards its not show proper.

## Describe the solution you'd like
I want to like flip box and adding zoom hover effect. The content will we shown in backward side by using hover effect.

I work on this issue under LGM-SOC'21 participant..please assigned me @Harshal0902

![rudra](https://user-images.githubusercontent.com

[2021-06-08 12:14] SamikshaSankar commented on #51
When we toggle the dark mode will be converted into light mode just like that you want to add? @Harshal0902

[2021-06-08 12:24] SamikshaSankar commented on #51
I work on this issue under LGM-SOC'21 participant..please assigned me @Harshal0902

[2021-06-08 12:30] Harshal0902 commented on #51
@SamikshaSankar go ahead, you just need to replace the Dark-Mode button with a dark mode toggle. The site already has a dark mode.

[2021-06-08 22:42] Sukriti-sood commented on #4
I want to work on this

[2021-06-09 05:39] Harshal0902 commented on #4
@Sukriti-sood go for it. Try to make a pop-up-type chatbot.

[2021-06-09 10:56] aum-singhal commented on #49
hello sir.
I have almost completed my work but i was wondering when to push it and should i push it on the main branch or should I create my own branch and then push the code in that branch?

Can you please help me with these 2 things 😅
Thanks 😊

[2021-06-09 11:25] Harshal0902 commented on #49
Push it in the main branch, and it's up to you whether you want to create a branch or not, but do a PR after 10th.

[2021-06-09 21:35] Astitva7717 commented on #45
please assign me this task (if you thinks it will enhance your project) under the Lgm-Soc'21 and add labels if possible.

[2021-06-10 02:10] unnati914 commented on #6
i can make it. could i be assigned this issue?

[2021-06-10 04:56] aum-singhal commented on #49
Okay then 👍
I will make the PR tomorrow.
Thanks for the help 😊

[2021-06-10 07:39] Harshal0902 commented on #45
@Astitva7717 the issue is already assigned to someone else, so you are requested to go for other issues.

[2021-06-10 07:41] Harshal0902 commented on #6
@unnati914 go for it.

[2021-06-10 11:23] unnati914 commented on #6
what features do you want for chatbot?

[2021-06-10 11:36] Harshal0902 commented on #6
The chatbot can help police/public with their questions. You can refer to chatbot.js for the services, and if you wish you can add more relevant features.

[2021-06-10 12:40] ajaydr16 commented on #46
Hello @Harshal0902 ,
Can I work on this as a part of LGMSOC21?

[2021-06-10 15:43] Ashuto7h opened #56 "Resturcture English version."
## Describe the Issue
Restructure the English version of the project as a single React app.
The code of this application is quite messy with a lot of HTML files and React components.
It's hard to find links between them and debug.

I suggest making a React-level project structure for the English version of this application.
The React project will be kept in a new directory until it gets completed.

[2021-06-10 15:45] Ashuto7h commented on #56
👍🏼

[2021-06-10 17:01] Harshal0902 commented on #56
@Ashuto7h Yes we can do that. So which page/section would you like to work on?

[2021-06-10 17:17] ajaydr16 opened #57 "Extra gap after footer in English-home.html and Kannada-home.html"
## Describe the bug
There is a small gap in both the HTML files of English and Kannada.

![bug](https://user-images.githubusercontent.com/55269615/121568329-38d17900-ca3d-11eb-9c86-31367192afde.jpg)

If you can assign (for LGMSOC) this to it would be done with very minimal steps.

## To Resolve
Steps to resolve the behaviour:
1.  go to rootDirectory>English>home.css
2.  change the margin which is

[2021-06-10 17:27] Harshal0902 commented on #57
@ajaydr16 go for it.

[2021-06-10 18:37] #57 closed

[2021-06-10 18:38] #31 closed

[2021-06-10 19:15] ajaydr16 opened #59 "Home Page: Whole article is not clickable"
## Describe the solution you'd like
On the home page (i.e landing page) the cards or options mention English, Kannada, Other Languages those can only be clickable only when they click on the blue-coloured text i.e "click here".

![bug2](https://user-images.githubusercontent.com/55269615/121583675-2f9cd800-ca4e-11eb-88c6-1dbf2031e758.jpg)

But as taking in the perspective of a user. He/She doesn't

[2021-06-10 19:37] Harshal0902 commented on #59
@ajaydr16 go for it.

[2021-06-10 20:01] ajaydr16 commented on #46
For this issue, a 404 page should be designed or even add 404.html as redirection to all wrong links?

[2021-06-11 03:52] aum-singhal commented on #49
Hello Sir.

I have created the PR. Please let me know if any changes are needed 🙂

[2021-06-11 04:56] Ashuto7h commented on #56
I will start from English > public

[2021-06-11 05:26] Harshal0902 commented on #46
@ajaydr16 for this issue, a 404 page should be designed and it should be redirected to the home page. Right now the issue is assigned to someone else, so you are requested to go for other issues.

[2021-06-11 05:32] #49 closed

[2021-06-11 05:37] Harshal0902 commented on #56
So you want to build a whole public section or some specific pages of the public section?

[2021-06-11 07:06] patelaryan7751 commented on #46
@Harshal0902 you can check the above said changes [here](https://github.com/Harshal0902/Rudra/pull/62)

[2021-06-11 07:12] patelaryan7751 commented on #7
may i work on this issue @Harshal0902

[2021-06-11 07:23] Harshal0902 commented on #7
@patelaryan7751 you can work on this issue, but first, complete this #46.

[2021-06-11 09:12] Ashuto7h commented on #56
will try with whole, and narrow down to my capabilities after that.

[2021-06-11 11:56] #46 closed

[2021-06-11 14:50] #59 closed

[2021-06-11 15:16] Harshal0902 commented on #7
@patelaryan7751 go or it.

[2021-06-11 16:51] unnati914 commented on #6
sure thing

[2021-06-12 10:43] Sukriti-sood opened #65 "Navbar Fix"
For Good User Experience , Fixed Navbar and Sticky Footer Always Looks Good.
It will be good to add this feature to the website.

[2021-06-12 11:35] #45 closed

[2021-06-12 12:23] Harshal0902 commented on #65
@Sukriti-sood go for it.

[2021-06-13 03:49] Shaishav0507 opened #66 "Want to add Code of conduct and license in Readem"
Hey @Harshal0902
I would like to add Contribution Guidelines in Readme File.
Please Assign me.
Thanks

## Describe the solution you'd like
Want to add contribution guidelines as they play very important role in any project.
I went through the project and couldn't find the contribution guidelines is the Readme file.

## Additional context
Add any other context about the feature request here.

[2021-06-13 03:49] #66 closed

[2021-06-13 03:50] Shaishav0507 opened #67 "Want to add Code of Conduct and License in Readme File"
Hey @Harshal0902
I would like to add Code of Conduct and license in Readme File.
Please Assign me.
Thanks

[2021-06-13 05:26] Harshal0902 commented on #67
@Shaishav0507 go fot it

[2021-06-13 05:27] #4 closed

[2021-06-13 14:28] sai-keerthi commented on #5
can i also contribute for the issue?

[2021-06-13 19:34] Harshal0902 commented on #5
@sai-keerthi this issue is assigned to someone else so you are requested to go for other issues

[2021-06-13 19:36] #67 closed

[2021-06-14 10:08] PaliwalUmesh commented on #6
we can try google dialogue flow for this

[2021-06-14 12:09] Harshal0902 commented on #6
We can try dialogue flow, but there is a problem, in order to make an agent, you need to have a Google CLoud account, and you need to share your card details, in order to make an account.

[2021-06-14 13:08] PaliwalUmesh commented on #6
ya that's really a problem 🤣.No worries we can always use python.

[2021-06-14 14:02] PaliwalUmesh commented on #6
we can use chatterbot and make the AI chatbot. Is anybody working on it??

[2021-06-14 14:05] Harshal0902 commented on #6
@PaliwalRP can you please elaborate more about it

[2021-06-14 14:32] PaliwalUmesh commented on #6
Actually the chatterbot is a python library which can be used to make a AI chatbot @Harshal0902

[2021-06-14 14:32] Ayush12062000 commented on #5
I'm guessing you can contribute as well. Do give it a shot.

[2021-06-14 14:36] PaliwalUmesh commented on #6
https://www.tutorialdocs.com/tutorial/chatterbot/simple-example.html#:~:text=Creating%20your%20first%20chat%20bot%201%20Setting%20the,bot.%20...%205%20Training%20your%20chat%20bot.%20 refer to this for more info.

[2021-06-14 14:42] Ayush12062000 commented on #5
Sir @Harshal0902 I apologize for the delay. I'm stuck with my End Semester exams. I'll soon complete this work.

[2021-06-14 14:50] Harshal0902 commented on #5
@Ayush12062000 take your time, I am in no hurry

[2021-06-15 02:48] Sukriti-sood opened #71 "Welcome Bot"
Welcome Bot for new Contributors to comment on new issue , pull request opened  and merged to show them contributors guidelines or any information to pass on.

[2021-06-15 05:33] #65 closed

[2021-06-15 05:35] Harshal0902 commented on #71
@Sukriti-sood go for it

[2021-06-15 06:34] Kritika-2000 opened #72 "Copyright year will update itself"
## Is your feature request related to a problem? Please describe.
The current Problem is that the copyright year in the footer needs manual upgradation every time.

## Describe the solution you'd like
I can solve this problem by adding the script so that the year in the copyright will update itself every time and no longer needs manual upgradation.

## Additional context
Please assign this issue t

[2021-06-15 07:14] Harshal0902 commented on #72
@Kritika-2000 go for it

[2021-06-15 07:33] ghost commented on #72
@Harshal0902 Thank you✌

[2021-06-15 09:22] supzi-del opened #74 "Replace Report "Us" to Report "Theft""
## Describe the bug
The word report Us seems like a wrong usage of the word as it seems like they're reporting the police itself.

## To Reproduce
Steps to reproduce the behavior:
Us can be replaced by Theft so as to match the navbar.

## Expected behavior

## Logs

## Environment (please complete the following information):
 - OS:
 - Browser:

## Additional context

[2021-06-15 10:36] Harshal0902 commented on #74
@supzi-del go for it

[2021-06-15 10:38] #72 closed

[2021-06-15 12:05] Rishabhraghwendra18 opened #75 "Add Let'sGrowMore logo under 'This Project is a part of the following Open Source Program' section"
##  description.
Since this project is also the part of LGMSOC'21 . It should also be stated in 'This Project is a part of the following Open Source Program' section in README.md .

## solution
I will like to add LGMSOC logo in the section .

[2021-06-15 13:45] #74 closed

[2021-06-15 17:07] Harshal0902 commented on #75
@Rishabhraghwendra18 go for it

[2021-06-16 04:42] PaliwalRP commented on #6
@Harshal0902 we can create chatbot , whats the progress??

[2021-06-16 07:03] Harshal0902 commented on #6
Yes, we can do it, but we have to find a way to integrate it in our appliction

[2021-06-16 10:14] Rishabhraghwendra18 opened #78 "Wrong use of Syntax in README.md section"
## Description
Under `This Project is a part of the following Open Source Program` section in README.md . In place of alt text in markdown syntax , we have `<img/>` tag . Take a look:
`[<img src ="https://github.com/Ayush7614/Rudra/blob/main/cwoc.png" alt ="Cross Winter of Code"></img>](https://crosswoc.ieeedtu.in/)`

It's also  negatively effecting SEO .

I want to replace image tag with  `Cross

[2021-06-16 10:27] Harshal0902 commented on #78
@Rishabhraghwendra18 got for it

[2021-06-16 10:29] #75 closed

[2021-06-16 11:46] Harshal0902 commented on #78
@Rishabhraghwendra18 The image of CrossWoC is not there in README.md kindly add it

[2021-06-16 12:23] Rishabhraghwendra18 commented on #78
Sorry I didn't see that . I have made a fresh PR . Please check whether it's now working or not.

[2021-06-16 12:42] #78 closed

[2021-06-16 18:16] ishitakapoor26 opened #82 "Add Contact Us Page"
Add Contact Us Page

[2021-06-16 18:17] ishitakapoor26 commented on #82
@Harshal0902 pls assign this issue to me.

[2021-06-16 18:18] ishitakapoor26 opened #83 "Add hover effect to homepage cards of languages"
Add hover effect to homepage cards of languages.

[2021-06-16 18:19] ishitakapoor26 commented on #83
@Harshal0902 pls assign this issue to me.

[2021-06-16 18:45] ishitakapoor26 opened #84 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 18:45] ishitakapoor26 commented on #84
@Harshal0902 pls assign this issue to me.

[2021-06-16 19:06] Harshal0902 commented on #83
@ishitakapoor26 go for it

[2021-06-16 19:07] Harshal0902 commented on #82
@ishitakapoor26 go for it

[2021-06-16 19:08] Harshal0902 commented on #84
@ishitakapoor26 right now we don't need a scorecard for it. If we are told in the future I have to do it myself.

[2021-06-16 19:08] #84 closed

[2021-06-17 04:18] varunwho opened #85 "Minor errors"
### The text is not clearly visible since both are having a light color
![Screenshot 2021-06-17 092919](https://user-images.githubusercontent.com/53107832/122330262-7dcf4100-cf50-11eb-886c-27deee1da4dc.png)

### A color like this matches with the navbar colors and the text is also visible in this color
![Screenshot 2021-06-17 094244](https://user-images.githubusercontent.com/53107832/122330265-7f0

[2021-06-17 05:47] Harshal0902 commented on #85
@varunwho go for it. You can change the footer and scroll bar

[2021-06-17 05:49] Harshal0902 opened #88 "Update README.md"
Corrected some error in Readme

[2021-06-17 05:52] #71 closed

[2021-06-17 05:55] Sukriti-sood commented on #88
assign this  to me

[2021-06-17 05:56] Sukriti-sood commented on #71
@Harshal0902 Have u installed welcome bot ..?

[2021-06-17 19:13] supzi-del opened #90 "Change font-style of text in sign-in,sign-up page"
## Is your feature request related to a problem? Please describe.
The current font style is very basic.

## Describe the solution you'd like
To make it look attractive and modernize it I would like to add a font like "Poppins" or "Montserrat" under LGM SOC.

## Additional context

[2021-06-17 19:22] Harshal0902 commented on #90
@supzi-del go for it, and go with Poppins

[2021-06-17 19:24] #56 closed

[2021-06-18 05:59] #90 closed

[2021-06-18 17:58] nisha331 opened #93 "Add score table of LGMSOC in read me"
## Is your feature request related to a problem? Please describe.
I want to add this in read me kindly assign it to me
![1](https://user-images.githubusercontent.com/76838660/122599904-b07e5400-d08c-11eb-96c1-2f7de45ef0b9.PNG)
.

[2021-06-19 06:42] Harshal0902 commented on #93
@nisha331 I am supposed to make this Points table, along with the points given to contributors.

[2021-06-19 06:42] #93 closed

[2021-06-19 06:43] #83 closed

[2021-06-19 07:39] #85 closed

[2021-06-19 15:32] ishitakapoor26 commented on #82
@Harshal0902 pls review pr.

[2021-06-19 17:04] #82 closed

[2021-06-19 17:05] ishitakapoor26 opened #97 "Add a Feedback page"
Add a Feedback page

[2021-06-19 17:05] ishitakapoor26 commented on #97
@Harshal0902 pls assign me this issue.

[2021-06-19 17:08] ishitakapoor26 opened #98 "Design logo for website"
Design logo for website

[2021-06-19 17:09] ishitakapoor26 commented on #98
@Harshal0902 pls assign me this issue.

[2021-06-19 18:31] Harshal0902 commented on #97
@ishitakapoor26 go for it

[2021-06-19 18:31] Harshal0902 commented on #98
@ishitakapoor26 go for it

[2021-06-20 08:39] Umesh-01 opened #99 "add some badges to README.md"
## Is your feature request related to a problem? Please describe.
add some badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

## Describe the solution you'd lik

[2021-06-20 14:37] Harshal0902 commented on #99
@Umesh-01 go for it

[2021-06-21 11:20] varshitha1707 opened #100 "Typos on the front page"
## Describe the bug
Just as you click on the link, there are three options, one of them is english and there's a typo inside that option.
And more Spelling mistakes inside the code.

![image](https://user-images.githubusercontent.com/69676094/122753691-3dedbe00-d2b0-11eb-8546-daf170eafdf1.png)

## Expected behavior
1. for "Englich" to be changed to "English"
The typos to be solved and grammatical

[2021-06-21 11:58] Harshal0902 commented on #100
@varshitha1707 go ahead

[2021-06-21 14:23] #100 closed

[2021-06-21 18:20] #99 closed

[2021-06-22 09:26] ishitakapoor26 commented on #98
@harshal pls checkout designs...

![GitMarkonics (4)](https://user-images.githubusercontent.com/78542333/122900023-f75c9a00-d369-11eb-83f2-306fc785df74.png)

[2021-06-22 09:26] ishitakapoor26 commented on #98
![GitMarkonics (5)](https://user-images.githubusercontent.com/78542333/122900093-03e0f280-d36a-11eb-9453-ad2edbc2a31b.png)

[2021-06-22 09:38] ishitakapoor26 commented on #98
![GitMarkonics (6)](https://user-images.githubusercontent.com/78542333/122901926-a6e63c00-d36b-11eb-8e73-4c3e29b6a97e.png)

[2021-06-22 16:20] Harshal0902 commented on #98
The 1st one looks good. Go with that one

[2021-06-22 16:46] ishitakapoor26 commented on #98
@Harshal0902 okay in which directory I have to place it?

[2021-06-22 20:11] Harshal0902 commented on #98
Put it under assets folder

[2021-06-23 09:56] #98 closed

[2021-06-23 09:58] Harshal0902 opened #104 "Add the new favicon to the site"
Replace the old favicon with new designed favicon to the site.

[2021-06-23 10:45] RituCs commented on #104
I would like to work on this issue under LGMSOC'21 participant.

[2021-06-23 11:53] Harshal0902 commented on #104
@RituCs go for it

[2021-06-23 13:20] mdinesh124 opened #105 "Add hide and show password feature"
## Describe the solution you'd like
I would like to add hide and show password feature in sign in and sign up page of both public and police category.

[2021-06-23 13:22] mdinesh124 commented on #105
@Harshal0902 Please assign me this under LGMSOC.

[2021-06-23 13:46] Harshal0902 commented on #105
@mdinesh124 go for it

[2021-06-23 17:11] #105 closed

[2021-06-24 06:58] Akash20x opened #107 "Welcome Bot for Issues"
## Is your feature request related to a problem? Please describe.
A welcome bot for new issue created in your repository

@Harshal0902 Please assign me this issue as a part of LGM-SOC'21.

[2021-06-24 08:03] Harshal0902 commented on #107
@Akash20x we already have a welcome bot.

[2021-06-24 08:03] #107 closed

[2021-06-24 08:30] Akash20x commented on #107
Yes but didn't working

[2021-06-26 20:13] Srit20 commented on #104
I would like to work on this issue under LGMSOC'21 participant. Please assign me @Harshal0902

[2021-06-27 06:13] Harshal0902 commented on #104
@Srit20 the issue is already assigned to other person.

[2021-06-27 09:02] Srit20 commented on #97
I would like to work on this issue under LGMSOC'21 participant. Please assign me @Harshal0902

[2021-06-27 09:03] Srit20 commented on #52
I would like to work on this issue under LGMSOC'21 participant. Please assign me @Harshal0902 if she can't do

[2021-06-27 09:41] ishitakapoor26 commented on #97
@Srit20 I am already working on it and its almost done.

[2021-06-27 10:08] RituCs commented on #51
I would like to work on this issue if @SamikshaSankar  is not working.

[2021-06-27 10:09] SamikshaSankar commented on #51
@RituCs I am working on this issue

[2021-06-27 10:10] SamikshaSankar commented on #52
@Srit20 I am working on this

[2021-06-27 10:31] Srit20 commented on #97
@ishitakapoor26 ok carry on all the best

[2021-06-28 15:26] Harshal0902 opened #109 "Navbar with Headroom.js"
Replace the fixed navbar using Headroom. Js
[Reference](https://codepen.io/WickyNilliams/pen/AFsKB)

[2021-06-29 15:25] Amrutha1101 commented on #109
I would like to work on this issue under LGM-SOC

[2021-06-29 15:30] Harshal0902 commented on #109
@Amrutha1101 go for it

[2021-06-29 15:31] #52 closed

[2021-06-30 10:25] srisatya1197 opened #111 "Label commenting bot"
## Is your feature request related to a problem? Please describe.
I would like it to generate different messages for following labels
## Describe the solution you'd like
Tags such as :
lgmsoc21
level0
level1
level2
level3
under review
changes requested
## Additional context
Add any other context about the feature request here.

[2021-06-30 10:36] #111 closed

[2021-06-30 11:02] srisatya1197 opened #112 "Add Techstack with logos in readme file"
## Describe the bug
I want to add used techstack with logos in readme file and COC should be in between the readme file. But it's at the bottom everyone must read COC. If it's down some of them will not see.

[2021-06-30 12:35] Harshal0902 commented on #112
@srisatya1197 go for it

[2021-06-30 16:56] srisatya1197 opened #114 "Font size and gap in instructions"
## Describe the bug
I would like to change 'INSTRUCTION' font style and font size.

![Instructions _ RUDRA - Google Chrome 30-06-2021 22_22_26_LI](https://user-images.githubusercontent.com/78905067/124001271-130f1280-d9f2-11eb-8802-3df5139bce90.jpg)
Here there is no much gap between the sentences I would like to change this too.

[2021-06-30 17:00] srisatya1197 opened #115 "Alignment"
![Instructions _ RUDRA - Google Chrome 30-06-2021 22_26_52_LI](https://user-images.githubusercontent.com/78905067/124001693-86188900-d9f2-11eb-99d7-a70725df4842.jpg)
As it's a professional website I want to change icons into pro one .

[2021-06-30 17:07] Harshal0902 commented on #114
@srisatya1197 go for it, and do it for both page(Police as well as Public)

[2021-06-30 17:07] Harshal0902 commented on #115
@srisatya1197 go for it, and do it for both page(Police as well as Public)

[2021-06-30 17:07] srisatya12 commented on #115
@Harshal0902 Sure will do it.

[2021-06-30 17:15] RituCs commented on #109
I would like to work on this issue .

[2021-06-30 17:37] Harshal0902 commented on #109
@RituCs go for it

[2021-07-01 18:33] #51 closed

[2021-07-02 10:42] vedant-jain03 opened #117 "Preloader Functionality"
## Is your feature request related to a problem? Please describe.
I want to add Preloader Functionality

## Describe the solution you'd like
Using lazy and Suspense Component

[2021-07-02 10:42] vedant-jain03 commented on #117
@Harshal0902 Please assign if you find valid

[2021-07-02 18:28] Harshal0902 commented on #117
@vedant-jain03 is this for the react app?

[2021-07-02 18:29] vedant-jain03 commented on #117
Yes

[2021-07-03 10:22] NidhiChaurasia commented on #6
@Harshal0902 I can make an AI Chatbot using Dialogflow As I have made one for my previous hackathon.So,if you could assign me this issue I could contribute more!

Kindly check my COVID-19 Bot and assign me this issue :-

https://bot.dialogflow.com/53e898d9-a118-4378-908f-177b32f5b34f

[2021-07-03 14:48] Harshal0902 commented on #6
@NidhiChaurasia you can make it using Dialogflow, but not sure it will work after free trial of Google Cloud is expire, so I will suggest to avoid it using Dialogflow. And we can afterwards make other modification with that chatbot like: voice command to open any page etc.

[2021-07-03 14:50] Harshal0902 commented on #117
@varshitha1707 go ahead, react app is in the react_app folder.

[2021-07-03 14:50] Harshal0902 commented on #117
Add preloader there

[2021-07-03 16:06] varshitha1707 commented on #117
@Harshal0902  Im sorry but I think you meant @vedant-jain03

[2021-07-03 18:00] Harshal0902 commented on #117
oh, sorry its @vedant-jain03, not @varshitha1707.

[2021-07-03 18:19] vedant-jain03 commented on #117
Ok sure I will get back to you on this

[2021-07-05 11:19] PrathmeshMutke opened #118 "Instructions font change"
## Describe the bug
After signed in webpage instructions should be of new font

[2021-07-05 11:21] PrathmeshMutke commented on #118
LGM SOC 21

[2021-07-05 11:27] PrathmeshMutke opened #119 "Forget Password feature request"
## Describe the bug
Forget password feature not added

LGM SOC 2021

[2021-07-05 11:30] PrathmeshMutke opened #120 "Sign in with Google account feature request"
## Is your feature request related to a problem? Please describe.
Adding google account sign in feature

## Describe the solution you'd like
After adding google sign in feature no need to write name, email etc.

[2021-07-05 11:30] PrathmeshMutke commented on #120
LGM SOC 2021

[2021-07-05 11:35] PrathmeshMutke opened #121 "Remember me feature"
## Is your feature request related to a problem? Please describe.

Remember me checkbox feature should be added for sign in page
 LGM SOC 2021

[2021-07-05 11:36] Harshal0902 commented on #118
@PrathmeshMutke I don't think, we should the font style for Instructions page, fonts for all page should be similar, as its looks good and uniform.

[2021-07-05 11:36] #118 closed

[2021-07-05 11:36] Harshal0902 commented on #119
@PrathmeshMutke go for it

[2021-07-05 11:37] Harshal0902 commented on #120
@PrathmeshMutke go for it

[2021-07-05 11:37] Harshal0902 commented on #121
@PrathmeshMutke go for it

[2021-07-05 11:54] PrathmeshMutke commented on #121
Help wanted

[2021-07-05 11:54] PrathmeshMutke commented on #120
Help wanted

[2021-07-05 11:54] PrathmeshMutke commented on #119
Help wanted

[2021-07-05 11:55] Harshal0902 commented on #121
Yeah sure, how can I help you?

[2021-07-05 13:38] srisatya12 commented on #115
@Harshal0902  Just I want to clear that I'll be inactive on github for a week(sem exams). I want to tell that if it's ok then will complete this after a week.

[2021-07-05 13:38] srisatya12 commented on #114
@Harshal0902 Just I want to clear that I'll be inactive on github for a week(sem exams). I want to tell that if it's ok then will complete this after a week.

[2021-07-05 13:44] Harshal0902 commented on #115
ok, no problem

[2021-07-05 13:44] Harshal0902 commented on #114
ok, no problem

[2021-07-05 14:26] PrathmeshMutke commented on #121
Due to end sem exam prep I won't be able to complete it now please assign someone.

[2021-07-05 14:27] Harshal0902 commented on #121
ok

[2021-07-07 07:48] #115 closed

[2021-07-07 09:39] ishitakapoor26 commented on #97
@Harshal0902 pls review pr.

[2021-07-07 09:47] #97 closed

[2021-07-07 17:53] satyampgt4 commented on #104
@RituCs please close this issue

[2021-07-07 17:55] #104 closed

[2021-07-07 18:09] Harshal0902 opened #124 "Kindly link the issue while doing a PR"

[2021-07-11 10:57] satyampgt4 commented on #47
@TheGrayGodfather any updates... ?

[2021-07-11 10:58] satyampgt4 commented on #109
@RituCs  any updates... ?

[2021-07-13 06:55] Harshal0902 opened #125 "Write a Guide for Deploying the App to Digital Ocean"
- Please name it DigitalOcean.MD
- Make and place it inside the Guides/ directory of the master branch
- Add Snapshots of the process as and where required
- Add Useful Tips section for certain optimizations, bug fixing advice, and site corresponding references

[2021-07-14 10:16] nelsonguya commented on #125
Hello. I would like to work on writing the guide for app deployment to Digital Ocean if this is still open. Also, provide more information about the app. Regards

[2021-07-14 13:17] Harshal0902 commented on #125
@nelsonkimani63 go for it

[2021-07-14 13:21] Harshal0902 commented on #125
@nelsonkimani63 you have to create a DigitalOcean.md file under Guides/ directory where you have to state:
- What is Digital Ocean
- Steps involved to deploy the static application  on Digital Ocean
- And some tips, if possible

You can use some screenshots if necessary.

[2021-07-14 13:27] nelsonguya commented on #125
@Harshal0902 Thank you. Just to clarify, is this for general **(not a specific app)** static applications deployment on Digital Oceans!?

[2021-07-14 13:29] Harshal0902 commented on #125
The following application is static site, so it will be better if you write process involved in deploying a static site.

[2021-07-15 15:58] Harshal0902 opened #126 "Write a Guide for Deploying this static site to Azure"
- Please name it Azure_Deploy.md
- Make and place it inside the Guides/ directory of the master branch
- Add Snapshots of the process as and where required
- Add Useful Tips section for certain optimizations, bug fixing advice, and site corresponding references

[2021-07-20 04:39] ayushnau commented on #126
hello
I can do it please assign it to me.

[2021-07-20 05:56] ayushnau commented on #114
Hello
I want to contribute in this here is the link #127

[2021-07-20 05:57] Harshal0902 commented on #126
@Ayush2020012016 go ahead

[2021-07-20 06:00] #114 closed

[2021-07-24 08:04] Ayush2020012016 opened #128 "changing the name of react to rudra"
In the react version still the name is React App should I chang this to RUDRA

[2021-07-24 09:55] Harshal0902 commented on #128
In public/index.html file?

[2021-07-25 06:55] ayushnau commented on #128
yes

[2021-07-25 07:01] Harshal0902 commented on #128
@Ayush2020012016 go for it

[2021-07-26 07:26] ayushnau commented on #126
ah here is the PR   #129

[2021-07-27 06:31] Harshal0902 opened #130 "Replace icons with feathericons"
Replace all the icons with the feathericons

[2021-07-27 18:05] #125 closed

[2021-07-28 06:03] ayushnau commented on #120
I want to do this please assign it to me

[2021-07-28 07:15] Harshal0902 commented on #120
@Ayush2020012016 go ahead

[2021-07-30 09:48] Harshal0902 opened #133 "Add animations to the site"
Currently the site does not have any animations, add animations to them

[2021-07-30 16:57] ayushnau commented on #120
I need site privacy policy,terms of service support email and if possible the logo for the website and I thing right now there is no such things.

[2021-08-01 10:43] Harshal0902 commented on #120
@Ayush2020012016 you can use Firebase for implementing the google auth. I have enable the google auth.

[2021-08-03 06:34] ayushnau commented on #120
Ah I have a little confusion  where do I place sign in button in front page or any where else.

[2021-08-03 06:57] Harshal0902 commented on #120
Place it inside the **English/Police/index.html** and **English/Public/index.html** file

[2021-08-03 12:46] ayushnau commented on #130
I can do this please assign it to me

[2021-08-03 16:57] Harshal0902 commented on #130
@Ayush2020012016 kindly complete previous assigned issues first

[2021-08-04 04:57] ayushnau commented on #120
the error is coming not because of code but because of domain we are using to run the site.
this is suggested solution and it will corrected from your firebase console.

{The current domain is not authorized for OAuth operations. This will prevent signInWithPopup, signInWithRedirect, linkWithPopup and linkWithRedirect from working. Add your domain (127.0.0.1) to the OAuth redirect domains list in

[2021-08-04 05:19] Harshal0902 commented on #120
Even if I do so, the code is incomplete, its not redirecting to the home page, and and Google auth. is enable along with the domain. So please check the code again.

[2021-08-04 07:55] ayushnau commented on #120
![gogglesigninerror](https://user-images.githubusercontent.com/78146753/128143634-6e1b8cfa-a77c-4e3a-86aa-7b8a50366fbd.png)

its showing same thing again after adding redirect code

[2021-08-04 08:12] Harshal0902 commented on #120
@Ayush2020012016 just add the redirection link, I will check this out

[2021-08-05 07:20] #120 closed

[2021-08-05 21:00] gargkrishna commented on #128
I want to contribute to this issue. can you assign me??

[2021-08-06 05:24] Harshal0902 commented on #128
@gargkrishna the issue is assigned to other person, so let wait till tonight, if @Ayush2020012016 didn't do any PR I will assign this issue to you.

[2021-08-10 10:44] Harshal0902 commented on #128
@gargkrishna go for it, try to submit PR till midnight

[2021-10-24 09:11] Charvi-Bansal commented on #130
Which icons have to replaced by feathericons? Can u pls elaborate?
Also will this be counted in hacktoberfest?

[2021-10-25 03:31] Harshal0902 commented on #130
This will not be counted in Hacktoberfest

[2021-10-25 06:22] Charvi-Bansal commented on #130
okay